html {
    background-image: url("../img/kirbito.jpeg");
    font-family: Arial, Helvetica, sans-serif
}
.boxes {
    position: absolute;
    background-color: white;
    padding: 10px;
    margin: 10px; 
}
#profileAndTweet {
    position: fixed;
    max-width: 800px;
    height: 60%;
    left: 20%;
    right: 20%;
}
#profileBox {
    left: 0px;
    width: 45%;
    height: 30%;
}
#writingBox {
    right: 0px;
    width: 45%;
    height: 30%;
}
#tweetBox {
    height: 100px;
    width: 80%;
    border-radius: 5px;
}
#results{
    position: fixed;
    max-width: 800px;
    height: 40%;
    top: 50%;
    left: 20%;
    right: 20%;
}
#tweetsDashboard div{
    background-color: white;
    border-radius: 5px;
}
p {
    text-align: left;
    padding: 5px;
}
button {
    background-color: rgb(255, 132, 173);
    color: white;
    border-radius: 5px;
}